DB_ROOT_USERNAME=
DB_ROOT_PASSWORD=
DB_URL=
DB_USERNAME=
DB_PASSWORD=
DB_NAME=
JWT_SECRET= /* z.B. aTsu4qFPjVVjHFvx0My1NtdUB6WMTj2OnoEKZI9xxFc */
JWT_EXPIRATION= /* z.B. 86400000 für 24 Stunden in Millisekunden */